<div class="parallax-container">
	<div class="parallax">
		<%= image_tag("homepage-background.jpg") %>
	</div>
	<div class="row no-margin">
		<div class="col s12 m8">
			<div class="row">
				<div class="col s12 m8">
					<h1 class="intro__title">Your right to know</h1>
					<p class="intro__description">
					Every citizen has the right to access information held by public authorities.
					By law, they have to respond.
					</p>


					<p class="intro__browse">
					Browse <a href="/en/list/successful">34 requests</a> to <a href="/en/body/list/all">139 authorities</a>
					</p>
				</div>

				<div class="col s12 m4">
					<div class="new-request__content">
						<h2 class="new-request__title">Want to know something?</h2>
						<p class="new-request__description">Start your own request</p>
						<a href="/en/select_authority" class="new-request__make-new-requests btn">
							Make a request
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m4 recent-information">
			<div class="row">
				<div class="col s12">
					<h2>Recent Information</h2>
					<ul>
						<li class="request-listing">
							<div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
								<div class="request-listing__request-body">
								<p>
								<a href="/en/body/c4n">Code for nepal</a> answered a request about

								<a href="/en/request/budget_for_nepali_year_2073">Budget for Nepali year 2073</a>
								</p>

								<p class="request-body__time-ago">
								10 months ago
								</p>
							</div>
						</li>
						<li class="request-listing">
							<div c
								lass="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
							<div class="request-listing__request-body">
								<p>
								<a href="/en/body/mod">Ministry of Defense</a> answered a request about

								<a href="/en/request/number_of_male_and_female_securi">Number of male and female security officials (Nepal Police, Armed Police and Nepal Army) 1994-2014			</a>
								</p>
		
								<p class="request-body__time-ago">
								12 months ago
								</p>

							</div>
						</li>
						<li class="request-listing">
							<div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
								<div class="request-listing__request-body">
								<p>
								<a href="/en/body/mohp">Ministry of Health and Population</a> answered a request about

								<a href="/en/request/rautes_of_western_nepal">"Rautes" of Western Nepal</a>
								</p>

								<p class="request-body__time-ago">
								about 1 year ago
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container">
	<div class="row">
		<div class="hero__intro">
			<h1 class="intro__title">Your right to know</h1>
			<p class="intro__description">
			Every citizen has the right to access information held by public authorities.
			By law, they have to respond.
			</p>


			<p class="intro__browse">
			Browse <a href="/en/list/successful">34 requests</a> to <a href="/en/body/list/all">139 authorities</a>
			</p>
		</div>

		<div class="hero__new-request">
			<div class="new-request__content">
				<h2 class="new-request__title">Want to know something?</h2>
				<p class="new-request__description">Start your own request</p>
				<a href="/en/select_authority" class="new-request__make-new-requests">
					Make a request »
				</a>
			</div>
		</div>
	</div>
</div> -->


<div id="wrapper" class="row">
	<div id="content" role="main">
		<div id="general_frontpage" class="controller_general">
			<div class="homepage-how-it-works" id="learn-more">
				<div class="row">
					<div class="homepage-how-it-works__hiw-content container section">
						<div class="hiw-content__headings center-align">
							<h2>How it works</h2>
							<p class="hiw__subtitle">
							You have the <strong>right</strong> to request information from any publicly-funded body, and get answers. Ask Nepal helps you make a Freedom of Information request. It also publishes all requests online.
							</p>
						</div>
					<div class="hiw-content__steps">
						<div class="row">
							<div class="col s12 m10 push-m1">
								<div class="row">
									<div class="col s12">
										<ol class="steps__list row">
											<li class="col s12 m4">
												<div class="steps__step-box">
												  <p>Use this site to make your request for information – we'll show you how.</p>
												</div>
												<div class="steps__step-number center-align col s4 push-s4" aria-hidden="true">
												  <p>1</p>
												</div>
											</li>
											<li class="col s12 m4">
												<div class="steps__step-box">
												  <p>We'll drop you an email as soon as your request gets a response.</p>
												</div>
												<div class="steps__step-number center-align col s4 push-s4" aria-hidden="true">
												  <p>2</p>
												</div>
											</li>
											<li class="col s12 m4">
												<div class="steps__step-box">
												  <p>We publish it all online. Great! Now you have your answer, and everybody else can access it too.</p>
												</div>
												<div class="steps__step-number center-align col s4 push-s4" aria-hidden="true">
												  <p>3</p>
												</div>
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
						<div class="learn-more-foi center-align">
							<a href="/en/help/about" class="learn-more-foi-btn btn">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="frontpage_examples" class="frontpage_examples container">
				<div class="row">
					<div id="examples_0" class="examples_0 bodies-list col s12 m6">
						<h3>How can I request information from?</h3>

						<h4>Ask Nepal covers requests to 139 authorities, including:</h4>

						<ul>
							<li><a href="/en/body/motca">Ministry of Culture, Tourism and Civil Aviation</a>
							4 requests
							</li>
							<li><a href="/en/body/c4n">Code for nepal</a>
							3 requests
							</li>
							<li><a href="/en/body/moe">Ministry of Education</a>
							3 requests
							</li>
							<li><a href="/en/body/mod">Ministry of Defense</a>
							2 requests
							</li>
							<li><a href="/en/body/moad">Ministry of Agriculture Development</a>
							2 requests
							</li>
							<li><a href="/en/body/mohp">Ministry of Health and Population</a>
							2 requests
							</li>
							<li><a href="/en/body/mof">Ministry of Finance</a>
							2 requests
							</li>
							<li><a href="/en/body/mofa">Ministry of Foreign Affairs</a>
							2 requests
							</li>
							<li><a href="/en/body/consulate_general_of_nepal_hong_kong">Consulate General of Nepal-Hong Kong</a>
							1 request
							</li>
							<li><a href="/en/body/moen">Ministry of Energy</a>
							1 request
							</li>
							<li><a href="/en/body/mofald">Ministry of Federal Affairs and Local Development</a>
							1 request
							</li>
							<li><a href="/en/body/mopit">Ministry of Physical Infrastructure and Transport</a>
							1 request
							</li>
							<li><a href="/en/body/molrm">Ministry of Land Reform and Management</a>
							1 request
							</li>
							<li><a href="/en/body/department_of_civil_personnel_records_under_ministry_of_general_administration">Department of Civil Personnel Records (Under Ministry of General Administration)</a>
							1 request
							</li>
							<li><a href="/en/body/central_gov">Hello sarkaar</a>
							1 request
							</li>
							<li><a href="/en/body/mocs">Ministry of Commerce and Supplies</a>
							1 request
							</li>
							<li><a href="/en/body/mocpa">Ministry of Cooperatives and Poverty Alleviation</a>
							1 request
							</li>
							<li><a href="/en/body/moga">Ministry of General Administration</a>
							1 request
							</li>
							<li><a href="/en/body/mole">Ministry of Labor and Employment</a>
							1 request
							</li>
							<li><a href="/en/body/moic">Ministry of Information and Communications</a>
							1 request
							</li>
							<li><a href="/en/body/gorkhapatra">Gorkhapatra</a>
							1 request
							</li>
							<li><a href="/en/body/mfsc">Ministry of Forest and Soil Conservation</a>
							1 request
							</li>
							<li><a href="/en/body/mste">Ministry of Environment, Science and Technology</a>
							0 requests
							</li>
							<li><a href="/en/body/nepal_embassy_pakistan">Nepal embassy - Pakistan</a>
							0 requests
							</li>
						</ul>

						<p>
							<%= link_to 'Browse all authorities', requests_path %>
						</p>
					</div>

					<div id="examples_1" class="latest-requests col s12 m6">
						<h3>
						What information has been released?
						</h3>

						<h4>
						Ask Nepal users have made 34 requests, including:
						</h4>

							<ul>
								<li class="request-listing">
									<div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
										<div class="request-listing__request-body">
										<p>
										<a href="/en/body/c4n">Code for nepal</a> answered a request about

										<a href="/en/request/budget_for_nepali_year_2073">Budget for Nepali year 2073</a>
										</p>

										<p class="request-body__time-ago">
										10 months ago
										</p>
									</div>
								</li>
								<li class="request-listing">
									<div c
										lass="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
									<div class="request-listing__request-body">
										<p>
										<a href="/en/body/mod">Ministry of Defense</a> answered a request about

										<a href="/en/request/number_of_male_and_female_securi">Number of male and female security officials (Nepal Police, Armed Police and Nepal Army) 1994-2014			</a>
										</p>
				
										<p class="request-body__time-ago">
										12 months ago
										</p>

									</div>
								</li>
								<li class="request-listing">
									<div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
										<div class="request-listing__request-body">
										<p>
										<a href="/en/body/mohp">Ministry of Health and Population</a> answered a request about

										<a href="/en/request/rautes_of_western_nepal">"Rautes" of Western Nepal</a>
										</p>

										<p class="request-body__time-ago">
										about 1 year ago
										</p>
									</div>
								</li>
								<li class="request-listing">
									<div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
										<div class="request-listing__request-body">
										<p>
										<a href="/en/body/moad">Ministry of Agriculture Development</a> answered a request about

										<a href="/en/request/size_of_the_agro_based_food_indu">Size of the agro-based food industry in Nepal</a>
										</p>

										<p class="request-body__time-ago">
										11 months ago
										</p>
									</div>
								</li>
								<li class="request-listing">
								<div class="request-listing__request-status-icon bottomline icon_successful icon-standalone"></div>
									<div class="request-listing__request-body">
										<p>
										<a href="/en/body/motca">Ministry of Culture, Tourism and Civil Aviation</a> answered a request about

										<a href="/en/request/workshop_on_prospect_of_sports_t">Workshop on “Prospect of Sports Tourism” in Nepal</a>
										</p>

										<p class="request-body__time-ago">
										about 1 year ago
										</p>
									</div>
								</li>
							</ul>

							<a href="/en/list/all" class="button-secondary btn">Browse all requests</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="clear:both"></div>
		</div>
	</div>
	

	<!-- <div class="footer" id="footer" role="contentinfo">
		<div class="row">
			<div class="footer__about">
				<h2>Ask Nepal</h2>
				<p>Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>
				</p>

				<ul class="about__contact-links">
					<li>
					<a href="/en/help/contact">Contact us</a>
					</li>
					<li>
					<a href="/en/help">Help</a>
					</li>
					<li>
					<a href="/en/help/privacy">Privacy and cookies</a>
					</li>
					<li>
					<a href="/en/help/api">API</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__final">
			<div class="row">
				<div class="final__social-links">
					<ul>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
</div>